.feed {
  margin: 0 10rem 5rem;
  margin-bottom: 2rem;
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hover {
  margin-top: 0.5rem;
  width: 2%;
}
.hover img {
  width: 80%;
}

.hover :hover {
  cursor: pointer;
}

.date {
  text-align: right;
  font-style: italic;
  padding: 0.5rem;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.userPrompt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.message .button {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  text-align: center;
  min-width: fit-content;
  padding-left: 3rem;
  padding-right: 3rem;
  background: linear-gradient(
    to right,
    var(--grad-begin),
    var(--grad-begin),
    var(--grad-end)
  ) right;
  transition: 0.3s;
  background-size: 200%;
}

.message .button:hover {
  background-position: left;
  transition: 0.5s;
}

.message {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.messageInput {
  outline: none;
  border: none;
  background-color: #fff;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  width: 69%;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  padding-left: 3rem;
  margin-left: 1rem;
}

.feedPost {
  text-align: left;
}

.feedPost h4 {
  margin-bottom: 0.6rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.text {
  position: relative;
  background-color: #fff;
  color: black;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
}

.like {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  width: 10%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.like img {
  width: 30%;
  max-width: 1rem;

}

.like:hover {
  cursor: pointer;
}
