.feed {
  margin: 0 5rem 5rem;
  margin-bottom: 2rem;
}

.postTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hover {
  width: 2%;
}
.hover img {
  width: 100%;
}

.hover :hover {
  cursor: pointer;
}

.userPrompt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message .button {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.message {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.messageInput {
  outline: none;
  border: none;
  background-color: #fff;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  width: 69%;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  padding-left: 3rem;
  margin-left: 1rem;
}

.feedPost {
  text-align: left;
  margin-bottom: 1rem;
}

.feedPost h4 {
  margin-top: 2.2rem;
  margin-bottom: 0.6rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.text {
  position: relative;
  background-color: #fff;
  color: black;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
}

.like {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  width: 10%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.like img {
  width: 30%;
}

.like:hover {
  cursor: pointer;
}
