.navigation {
  margin: 2rem 4rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.main {
  height: 100%;
  align-items: center;
}

.nav {
  display: flex;
}

.hack {
  display: flex;
}

.hack a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.6rem;
}

#lightbulb {
  width: 4%;
  margin-right: 0.1rem;
}

#hackText {
  width: 12%;
}

.link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.link:hover::after,
.link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2rem, 0);
}
